/* erreurs */
.error_list {
  color: #D00;
}
body {
  background: #FFF;
  color: #343434;
}

#wrap {
  background: #F7F7F7 url('../img/fond_body.gif') left top repeat-x;
}

#head {
  border-top-color: #9DD63B;
  border-bottom-color: #666;
  -moz-box-shadow: 0 0 10px #333;
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  background: #343434;
  color: #FFF;
}
#head strong {
  color: #9DD63B;
}

#aside>*{
  border-colro: transparent;
}

#menu {
  background: #FFF;
  border-color: #CCC #9DD63B;
  -moz-box-shadow: 0 0 10px #333;
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
}
#menu li span,
#menu li a{
  border-color: #DDD;
  border-radius: 5px;
  color: #000;
  transition-property: background, box-shadow;
  transition-duration: .2s;
  transition-timing-function: ease;
  -moz-transition-property: background, -moz-box-shadow;
  -moz-transition-duration: .2s;
  -moz-transition-timing-function: ease;
  -webkit-transition-property: background, -webkit-box-shadow;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: background, box-shadow;
  -o-transition-duration: .2s;
  -o-transition-timing-function: ease;
}
#menu li a:hover,
#menu li a:focus {
  background: #DDD;
  border-color: #CCC;
  -moz-box-shadow: 3px 3px 5px #DDD;
  -webkit-box-shadow: 3px 3px 5px #DDD;
  box-shadow: 3px 3px 5px #DDD;
}
#menu li span {
  background: #343434;
  color: #FFF;
}

.download a {
  background: #9DD63B;
  color: #333;
  border-radius: 10px;
  transition-property: top, background, box-shadow;
  transition-duration: .1s;
  transition-timing-function: ease;
  -moz-transition-property: top, background, -moz-box-shadow;
  -moz-transition-duration: .1s;
  -moz-transition-timing-function: ease;
  -webkit-transition-property: top, background, -webkit-box-shadow;
  -webkit-transition-duration: .1s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: top, background, box-shadow;
  -o-transition-duration: .1s;
  -o-transition-timing-function: ease;
}
.download a:hover,
.download a:focus {
  background: #AEE74C;
  color: #333;
  -moz-box-shadow: 3px 3px 15px #FFF;
  -webkit-box-shadow: 3px 3px 15px #FFF;
  box-shadow: 3px 3px 15px #FFF;
}

/* icones */
#page a.ico {
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: ease;
  -moz-transition-property: background;
  -moz-transition-duration: .2s;
  -moz-transition-timing-function: ease;
  -webkit-transition-property: background;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: background;
  -o-transition-duration: .2s;
  -o-transition-timing-function: ease;
}

#page a.ico.supprimer {
  background-image: url('../img/ico/bin_closed.png');
}
#page a.ico.lancer {
  background-image: url('../img/ico/kcatoes.png');
}
#page a.ico.modifier {
  background-image: url('../img/ico/pencil.png');
}
#page a.ico.detail {
  background-image: url('../img/ico/magnifier.png');
}
#page a.ico.extraire {
  background-image: url('../img/ico/arrow_up.png');
}
#page a.ico.addPage {
  background-image: url('../img/ico/page_add.png');
}
.highlight {
  background: #F0F0F0;
  border: 1px solid #DDD;
  -moz-box-shadow: 3px 3px 5px #CCC;
  -webkit-box-shadow: 3px 3px 5px #CCC;
  box-shadow: 3px 3px 5px #CCC;
}
#page {
  background: #FFF;
  border-color: #CCC;
}


#page h1 {
  font-family: georgia, garamound, serif;
}


#page h3 {
  color: #3F7F00;
}

#page strong {
  color: #BF3100;
}
#page em {
  color: #3F7F00;
}

#page a {
  color: #000;
  border-bottom-color: #999;
}
#page a:hover,
#page a:focus {
  background: #DDD;
}


#page abbr {
  border-bottom-color: #CCC;
  cursor: help;
}

#page img {
  -moz-box-shadow: 3px 3px 5px #CCC;
  -webkit-box-shadow: 3px 3px 5px #CCC;
  box-shadow: 3px 3px 5px #CCC;
  
}

#page code {
  color : #000;
}

#page .codeBlock{
  background: #EEE;
  border-color: #CCC;
}

/* messages */
.info {
  color: #000;
  background: #55CCFF;
}
.warning{
  color: #000;
  background: #FF9600;
}
.error{
  color: #FFF;
  background: #A00;
}
.success{
  color: #000;
  background: #94D091;
}
.msg {
  -moz-box-shadow: 3px 3px 5px #CCC;
  -webkit-box-shadow: 3px 3px 5px #CCC;
  box-shadow: 3px 3px 5px #CCC;
  border-color: #FFF;
}


/* Layouts */
.part+.part {
  border-color: #FFF;
}

/* désactivation des ombres sur les images */
#page .imgLink img,
#page .msg img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  
}

/* onglets */
.tabHeads {
  list-style: square;
}
#page .js.tabHeads{
  list-style: none;
  border-color: #DDD;
}
#page .js.tabHeads>li  a {
  border-color: #DDD;
  background: transparent;
}

#page .js.tabHeads  a.current{
    background: #F0F0F0;
}
.tab {
  border-color: #DDD;
}

.js.tab{
  background: #F0F0F0;
  position: relative;
  z-index: 1;
}

