/* general */
/*
button.trigger {
  font: inherit;
  font-size: 1em;
  border: none;
  background: none;
  color: inherit;
  padding-left: 20px;
}
button.trigger>* {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
*/
/* collapser */
.collapsable.collapse-closed {
	height: 0;
	overflow: hidden;
  display: none;
}
.collapsable.collapse-opened {
  height: auto;
  overflow: visible; 
}
.collapser{
  cursor: pointer;
}
.collapser.collapse-closed {
  background: transparent url('../img/ico/add.png') left center no-repeat;
}
.collapser.collapse-opened {
  background: transparent url('../img/ico/cross.png') left center no-repeat;
}

/* blocks */
.block {
  position: relative;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  border: .5em solid;
  border-radius: .5em;
  border-width: .1em .5em;

  background-color: #FFF;
  background-image: url('../img/tpl/leftShadow.png'), url('../img/tpl/rightShadow.png');
  background-position: left top, right top;
  background-repeat: repeat-y;
  border-color: #FF9 #9DD63B;
  -moz-box-shadow: 0 0 10px #333;
  -webkit-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
}
.block>h1,
.block>h2,
.block>h3,
.block>strong,
.block .title {
  display: block;
  font-family: georgia, garamound, serif;
  font-style: italic;
  font-size: 2em;
  margin: .5em -.5em;
  padding: 0 .5em;
  border-bottom: .05em solid #DDD;
  margin-top: .5em;
}
.block>h1:first-child,
.block>h2:first-child,
.block>h3:first-child,
.block>strong:first-child,
.block .title:first-child,
.popup button.collapser+h1,
.popup button.collapser+h2,
.popup button.collapser+h3,
.popup button.collapser+strong,
.popup button.collapser+.title {
  margin-top: -.5em;
}

.block.unauthorized {
  border-color: #A00;
}


/* icones, liens et boutons */
.pagination .paginateLinks a,
.ico,
input[type=submit],
button {

  display: inline-block;
  min-height: 1em;
  padding: .2em .5em;

  border: .1em solid #CCC ;
  border-radius: 3px;
  vertical-align: baseline;
  margin-left: .5em;

  background-position: 2px center !important;
  background-repeat: no-repeat !important;

  font-weight: bold;
  text-decoration: none;

  cursor: pointer;
  background-color: #FFF;
  transition-property: background;
  transition-duration: .2s;
  transition-timing-function: ease;
  -moz-transition-property: background;
  -moz-transition-duration: .2s;
  -moz-transition-timing-function: ease;
  -webkit-transition-property: background;
  -webkit-transition-duration: .2s;
  -webkit-transition-timing-function: ease;
  -o-transition-property: background;
  -o-transition-duration: .2s;
  -o-transition-timing-function: ease;
}
.pagination .paginateLinks a,
.ico {
  padding-left: 2em;
}

a:hover,
a:focus,
input[type=submit]:hover,
input[type=submit]:focus,
button:hover,
button:focus {
  background-color: #9DD63B !important;/*#DDD;*/
}
input[type=submit]:active,
button:active,
ico:acitve {
  position: relative;
  top: 1px;
  left: 1px;
}

.pagination .paginateLinks a:hover,
.pagination .paginateLinks a:focus,
.ico:hover,
.ico:focus,
input:hover,
input:focus,
button:hover,
button:focus
 {
  border-color: #DDD;
  -moz-box-shadow: 0 0 .5em #FFC;
  -webkit-box-shadow: 0 0 .5em #FFC;
  box-shadow: 0 0 .5em #FFC;
}


/* formulaires */
form .fields>div,
.sf_admin_form .sf_admin_form_row {
  margin: 1em auto;
  padding-left: 11em;
}
form .fields>div label,
.sf_admin_form .sf_admin_form_row label {
  margin-left: -11em;
  display: inline-block;
  width: 10em;
  text-align: right;
  vertical-align: top;
}
.sf_admin_form .sf_admin_form_row .content {
  display: inline;
}
form .fields .submit{
  padding-left: 10.4em;
}
input, select, textarea, button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1em;
  border: .1em solid #DDD;
}
input:focus,
select:focus,
textarea:focus {
  border-color: #9DD63B;
}

label {
	cursor: pointer;
}

#wrap [type=checkbox]+label,
#wrap [type=radio]+label {
  margin-left: 0;
  width: auto;
}



/* tableaux */
table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid;
}
th, td {
  padding: .3em;
} 
table thead th {
  font-weight: bold;
  background: #343434;
  color: #FFF;
}
caption {
  font-size: 1.5em;
}
/* tableaux */
table, th, td {
  border-color: #999;
}

table thead th a {
  color: #FFF;
}
table thead th a:hover,
table thead th a:focus {
  color: #000;
}
table tr {
  background: #FFF;
}


/* block mis en valeur */
.sf_admin_form fieldset,
.highlight {
  padding: .5em;
  margin: .5em -.5em;
  -moz-box-shadow: 3px 3px 5px #CCC;
  -webkit-box-shadow: 3px 3px 5px #CCC;
  box-shadow: 3px 2px 5px #CCC;
  border-radius: .5em;
  border: .1em solid #DDD;
}
.sf_admin_form fieldset {
  margin: 0 1em;
}
.sf_admin_form fieldset h2 {
  font-size: 1.4em;
  font-weight: bold;
  border-bottom: .1em solid; 
}
.sf_admin_form fieldset:hover,
.highlight:hover {
  background-color: rgba(128,128,128,.1);
  border-color: #EEE;
}

/* listes d'items */
.listItem {
  margin: 1em auto;
}
.listItem h2 {
  display: inline-block;
  width: 27.5em;
}
.listItem li>* {
  vertical-align: middle;
}

/* tag */
ul.tags {
  float: right;
}
ul.tags li.tag {
  display: inline-block;
  padding: 0 .5em;
  border-radius: .5em;
  background: #BF3100;
  color: #EEE;
  font-weight: bold;
}

/* popup */
.popupWrap {
  position: fixed;
  line-height: 1.5;
  font-size: 1.2em;
  height: 100%;
  width: 100%;
  padding:0; margin: 0;
  z-index: 2;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.2);
}
.popupOverlay {
  position: fixed;
  height: 100%;
  width: 100%;
  padding:0; margin: 0;
  top: 0;
  left: 0;
  background: #000; 
  opacity: .5;
  filter: alpha(opacity=50);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.popup {
  position: absolute;
  width: 80%;
  top: 10%;
  max-height: 80%;
  overflow: auto;
  left: 50%;
  margin-left: -40%;
}
.popup .collapser {
  float: right;
  margin: -.5em -.5em 0 0;
}


/* Progressbar */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x; color: #333333; }
.ui-widget-content a { color: #333333; }
.ui-widget-header { border: 1px solid #e78f08; background: #f6a828 url(images/ui-bg_gloss-wave_35_f6a828_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 url(images/ui-bg_glass_100_f6f6f6_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #1c94c4; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #c77405; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #fbd850; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #eb8f00; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #fed22f; background: #ffe45c url(images/ui-bg_highlight-soft_75_ffe45c_1x100.png) 50% top repeat-x; color: #363636; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #363636; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #cd0a0a; background: #b81900 url(images/ui-bg_diagonals-thick_18_b81900_40x40.png) 50% 50% repeat; color: #ffffff; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #ffffff; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #ffffff; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 4px; -webkit-border-top-left-radius: 4px; -khtml-border-top-left-radius: 4px; border-top-left-radius: 4px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 4px; -webkit-border-top-right-radius: 4px; -khtml-border-top-right-radius: 4px; border-top-right-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -khtml-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -khtml-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

/* Overlays */
.ui-widget-overlay { background: #666666 url(images/ui-bg_diagonals-thick_20_666666_40x40.png) 50% 50% repeat; opacity: .50;filter:Alpha(Opacity=50); }
.ui-widget-shadow { margin: -5px 0 0 -5px; padding: 5px; background: #000000 url(images/ui-bg_flat_10_000000_40x100.png) 50% 50% repeat-x; opacity: .20;filter:Alpha(Opacity=20); -moz-border-radius: 5px; -khtml-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }/*!
 * jQuery UI Progressbar 1.8.21
 *
 * Copyright 2012, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Progressbar#theming
 */
.ui-progressbar { height:2em; text-align: left; overflow: hidden; }
.ui-progressbar .ui-progressbar-value {margin: -1px; height:100%; }