body, html {
  height: 100%;
}

/* grandes zones */
#wrap {
  min-height: 100%;
  overflow: hidden;
}
body {
  font-size: 62.5%;
}

#wrap {
  min-width: 60em;
}

/* en tete */
#head {
  border-top: 5px solid;
  border-bottom: 2px solid;
  position: relative;
  z-index: 1;
}

#headLogo {
  display: inline-block;
  float: left;
  height: 12.8em;
  width: 19.3em;
  margin: 0 -24em -10em 4.7em;
}
#headLogo img {
  height: 12.8em;
}
  
#teaser {
  font-size: 2em;
  font-style: italic;
  display: block;
  margin: .8em 0 .8em 12em;
  padding-bottom: .3em;
  border-bottom: .1em solid;
}

/* bandeau */
#aside { /* 210 px */
  display: inline;
  float: left;

  margin: 0 2em 1em;

}

#aside>*{
  width: 15em;
  padding: 1em 1em 1em;
  border: 5px solid;
}

/* menu */
#menu {
  padding-top: 6em;
  background: #FFF;
  border: solid;
  border-width: 0 5px 0px 5px;
  border-radius: 0 0 5px 5px;
}
#menu li span,
#menu li a{
  font-size: 1.3em;
  padding: .5em;
  display: block;
  border: 1px solid;
  margin: .5em 0;
}

#main {
  margin: 0 1em;
  padding: 0 0 0 21em;
}
#main>*{
  max-width: 85.5em;
}
#main>#copyright{
  max-width: 102.6em;
}

#page {
  border: solid;
  border-width: 0 1px 1px;
  padding: 1em;
  line-height: 1.5;
  font-size: 1.2em;
  overflow: hidden;
}

#page p {
  margin: 1em 0;
}
#page p:first-child {
  margin-top: 0;
}

/* titres */
#page h1 {
  font-size: 2.5em;
  border-bottom: .1em solid;
  padding-bottom: .0em;
  margin: .5em 0 .5em;
  display: inline-block;
}
#page h1:first-child,
#page h2:first-child{
	margin-top: 0;
}

#page h2 {
  font-size: 1.6em;
  margin: 1em;
}

#page h3 {
  font-weight: bold;
  margin: 1em 0 1em 1.6em;
}

/* liens*/
#page a {
  border-bottom: 1px solid;
}
#page a.imgLink {
  border: none;
}
.download a {
  font-size: 2em;
  display: block;
  padding: .8em.5em;
  margin: .5em 0;
}
.download a:hover,
.download a:focus {
  position: relative;
  top: -1px;
}


/* listes */
#page ul {
  list-style: square outside;
  margin: 1em 0 1em 1.6em;
}
#page ol {
  list-style: decimal outside;
  margin-left: 1.6em;
}

/* block de code */
#page code {
  font-size: 1.1em;
}

#page .codeBlock{
  border: 1px solid ;
  display: block;
  margin: 1em;
}

/* block mis en valeur */
.highlight {
  padding: 1em;
  margin: 1em;
  border: 1px solid;
}

/* ligne de copyright */
#copyright {
  margin: .8em 1em;
}

/* d�finitions */
dt {
  float: left;
  clear: left;
  width: 14em;
  font-weight: bold;
  text-align: right;
  margin-right: -14em;
}
dd {
	display: block;
  padding-left: 15em;
  float: left;
}

dl {
  overflow: hidden;
}

/* autres */
#page abbr {
  border-bottom: 1px dashed;
}

/* tableaux */
table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid;
  border-color: #999;
}
th, td {
  padding: .3em;
} 
table thead th {
  background: #343434;
  color: #FFF;
  font-weight: bold;
}
caption {
  font-size: 1.5em;
}

/* formulaire */
form {
  margin: 1em 0; 
  overflow: hidden;
}
form label {
  display: inline-block;
  vertical-align: top;
}
input[type=radio]+label,
input[type=checkbox]+label {
  width: auto;
}
form textarea {
  vertical-align: top;
}
input[type=text], select, textarea {
  display: block;
  width: 30em;
  /*resize: none;*/
}

form input[type=submit] {
  font-size: 2em;
  text-align: center;
  background: #343434;
  color: #FFF;
  border-radius: 10px;
  border: none;
  -moz-box-shadow: 3px 3px 5px #666;
  float: right;
}

form input[type=submit]:hover,
form input[type=submit]:focus {
  background: #646464;
}
form input[type=submit]:active {
  position: relative;
  top: 2px;
  left: 2px;
}

/* listes d'acc�s */
.accessList .item {
  font-size: 1.5em;
}

/* icones */
#page .actions {
  margin-left: 1em;
}
#page a.ico {
  display: inline-block;
  min-height: 1em;
  padding: .2em .2em .2em 2em;
  border: .1em solid #CCC ;
  border-radius: 3px;
  vertical-align: text-bottom;
  margin-left: .5em;
  background-position: 2px center !important;
  background-repeat: no-repeat !important;
}
#page a.ico:hover,
#page a.ico:focus {
  border-color: #999;
}

/* aucun �l�ment */
.zeroFound {
	font-size: 2em;
	font-style: italic;
	text-align: center;
}

/* descriptions */
#page .description {
  border: 1px solid #DDD;
  margin-left: 2em;
  padding: 1em;
}

/* Layouts */
.twoParts {
  overflow-y: hidden;
}
.twoParts .part {
  display: inline-block;
  width: 48%;
  float: left;
  padding-right: 1%;
}
.twoParts .part+.part {
  float: right;
  padding-left: 1%;
}
.part+.part {
  border-left: 2px ridge;
}

.twoParts .smallpart {
  width: 33%;
}
.twoParts .bigpart {
  width: 63%;
}

/* messages */
.msg {
	border: .1em solid;
	padding: .5em .5em .5em 2em;
	min-height: 1.5em;
	margin: 1em auto;
}
.msg img {
	vertical-align: text-bottom;
	margin-left: -20px;
}


/* *********** */
/* SPECIFIQUES */
/* *********** */

/* page: edit list test */
.listTests {
  padding: 1em;
}

/* page: credit */
#page .sponsor {
  overflow: hidden;
  list-style: none;
}

.sponsor li {
  margin: 1em;
  float: left;
}