body {
  font-family: Helvetica, Arial, sans-serif;
}

/* menu */
.menu li span,
.menu li a,
.actionButton {
  font-weight: bold;
  text-decoration: none;
}

#mainMenu strong {
	text-align: center;
	font-style: italic;
}

#teaser {
  font-style: italic;
  font-family: georgia, garamound, serif;
  letter-spacing: .1em;
}
#copyright {
  text-align: center;
}


.highlight {
  font-weight: bold;
}


/* tableaux */
caption {
  font-style: italic;
}
table thead th {
  font-weight: bold;
}

/* pagination */
.pagination .paginateLinks {
  text-align: right;
}
.pagination .paginateResume {
  text-align: left;
}

/* titres *//*
#page h1 {
  font-family: georgia, garamound, serif;
  font-style: italic;
}

#page h2 {
  letter-spacing: 0.1em;
}
#page h3 {
  font-weight: bold;
}*/

/* erreurs */
.error_list {
  font-weight: bold;
}

/* liens */
#page a {
  font-weight: bold;
  text-decoration: none;
}
#page a:visited {
  font-style: italic;
}

/* autres éléments */
#page strong {font-weight: bold; }
#page em {font-style: italic; }


#page code {
  font-family : "Courier New", Courier, monospace;
}

/* scenarios */
#page .scenarioPages .url {
  font-weight: bold;
}