/* habillage de la page */
html, body {
	  height: 100%;
}

body {
  font-size: 62.5%;
  font-family: Tahoma, Arial, sans-serif;
  color: #343434;
  background: #FFF;
  padding: 0;
  margin: 0;
}

#rapportTitle,
#rapportFilter {
	position: absolute;
	width: 100%;
  line-height: 2;
	overflow: auto;
  
  border-bottom: .2em solid #666;
}

#rapportTitle {
  font-size: 2em;
	top: 0;
	height: 2.35em;
  margin-bottom: .5em;
	
  background: #343434;
  color: #FFF;
}

#rapportFilter{
  font-size: 1.2em;
  top: 4.2em;
  height: 2.6em;

  background: #DDFFDD;
  color: #000;
}

#rapportFilter legend,
#rapportFilter select,
#rapportFilter input
{
  display : inline-block;
  margin : 0.3em 1em;
}

#rapportFilter legend{       
  float: left;
  margin: 0.05em 1.5em;

  font-size: 1.3em;
  font-weight: bold;
}
      
#output,
#tested,
#resizeHandler {
  position: absolute;
  /* top: 6em;*/
  top: 8.40em;
  bottom: 0;
}
#resizeHandler {
	z-index: 1;
  left: 50%;
  width: 0;
  margin: 0 -.4em;
  padding: 0 .4em;
  border: solid #DDD;
  border-width: 0 .1em;
  background: #CCC url('../img/handlerBg.png') center center no-repeat;
  cursor: e-resize;
}
#resizeHandler:hover {
	background-color: #999;
}
.inner {
  overflow: auto;
  height: 100%;
}
#output .inner {
  margin-right: .5em;
}
#tested .inner {
  margin-left: .5em;
}
#output {
  left: 0;
  right: 50%;
}
#tested {
	right: 0;
	left: 50%;
}
#tested iframe {
  width: 100%;
  height: 100%;
}

h1 img {
  vertical-align: bottom;
}

/* ***** */
/* score */
/* ***** */
.score {
  float: right;
  display: inline;
  padding-right: 1em;
}
.score input {
    background: none;
    color: inherit;
    border: none;
    font-size: 1.5em;
    text-align: right;
    width: 2em;
}

/* ***** */
/* popup */
/* ***** */
.popup {
  position: absolute;
  left: 10px;
  top: 10px;
  right: 10px;
  bottom: 10px;
  background: #FFF;
  border: 1px solid #CCC;
  padding: 2em 1em 1em;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -o-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.popup .close {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
}

.popupContent {
  overflow: auto;
  height: 100%;
  font-size: 1.5em;
}

.collapsable.collapse-closed {
  display: none;
}

/* ************ */
/* regroupement */
/* ************ */
#kcatoesRapport .groupBy {
  text-align: left;
  font-size: 3em;
}

/* ******* */
/* rapport */
/* ******* */
#kcatoesRapport {
  font-size: 1.2em;
  padding: 1em;
  background: #DDD;
}

#kcatoesRapport>li {
  margin-bottom: 1.5em;

  background: #FFF;
  border: .1em solid #CCC;
}
#kcatoesRapport>li>div {
	  padding: 1em;
}


.popup h2,
#kcatoesRapport h2 {
  font-size: 2em;
}

.popup h3,
#kcatoesRapport h3 {
  font-size: 1.4em;
  border-bottom: .1em solid;
  font-style: italic;
  margin: 1em 0 .5em;
}

.popup h4,
#kcatoesRapport h4 {
  font-size: 1.2em;
  border-bottom: .1em solid;
  font-weight: bold;
  margin: 1em 0 .5em;
}

#kcatoesRapport .groups {
  background: #DDD;
  float: right;
  margin: .9em 0 .9em .9em;
  padding: 1em;
  border: .1em solid #CCC;
}
#kcatoesRapport .groups li,
#kcatoesRapport .testProc li,
#kcatoesRapport .testDoc li {
  padding: .3em 0;
}
#kcatoesRapport .groups .key {
  display: inline-block;
  width: 8em;
  text-align: right;
}

#kcatoesRapport .testDoc li {
  display: inline;
  margin: 0 .5em;
}
#kcatoesRapport .testDoc a {
  display: inline-block;
  padding: .4em;
  border-radius: .5em;
  background: #BF3100;
  color: #EEE;
  font-weight: bold;
  border: .1em solid #BF3100;
  text-decoration: none;
}
#kcatoesRapport .testDoc a:hover,
#kcatoesRapport .testDoc a:focus {
  color: #BF3100;
  background: #EEE;
}
#kcatoesRapport .testDoc a:visited {
  background: #9DD63B;
  color: #343434;
  border-color: #9DD63B;
}
#kcatoesRapport .testDoc a:hover:visited,
#kcatoesRapport .testDoc a:focus:visited {
  color: #9DD63B;
  background: #343434;
}

#kcatoesRapport .testDoc,
#kcatoesRapport .global {
  display: inline-block;
  vertical-align: top;
  width: 48%;
  margin-right: 1%;
}
#kcatoesRapport .globalAndDoc {
  clear: both;
}

#kcatoesRapport .elemsResult>li {
  background: #DDD;
  border: .1em solid #CCC;
  border-radius: .5em; 
  margin: 1em;
  padding: 1em;
}
#kcatoesRapport .subResult {
  padding: .5em;
  border-radius: .5em;
  display: inline-block;
  width: 15em;
}

/*

#kcatoesRapport,
#kcatoesRapport td,
#kcatoesRapport th {
  border: 1px solid #CCC;
  border-collapse: collapse;
}
#kcatoesRapport td,
#kcatoesRapport th {
  padding: .3em;
}
#kcatoesRapport th {
  background: #343434;
  color: #FFF;
  font-weight: bold;
}

#kcatoesRapport .testStatus,
#kcatoesRapport .testId,
#kcatoesRapport .subResult {
	font-weight: bold;
	text-align: center;
}
*/

/* code couleur */
#kcatoesRapport .testStatus {
  padding: .5em;
  border-radius: .5em;
}

#kcatoesRapport .ECHEC.testStatus,
#kcatoesRapport .ECHEC.subResult {
  color: #FFF;
  background: #900;
}
#kcatoesRapport>li.ECHEC>div {
  border-left: .8em solid #900;
}

#kcatoesRapport .REUSSITE.testStatus,
#kcatoesRapport .REUSSITE.subResult {
  color: #FFF;
  background: #080;
}
#kcatoesRapport>li.REUSSITE>div {
  border-left: .8em solid #080;
}

#kcatoesRapport .MANUEL.testStatus,
#kcatoesRapport .MANUEL.subResult,
#kcatoesRapport .NONEXEC.testStatus,
#kcatoesRapport .NONEXEC.subResult {
  color: #000;
  background: #12B8EA;
}
#kcatoesRapport>li.MANUEL>div,
#kcatoesRapport>li.NONEXEC>div {
  border-left: .8em solid #12B8EA;
}

#kcatoesRapport .NA.testStatus,
#kcatoesRapport .NA.subResult {
  color: #000;
  background: #999;
}

#kcatoesRapport>li.NA>div {
  border-left: .8em solid #999;
}


#kcatoesRapport .ERREUR  {
    background: none repeat scroll 0 0 #FFC1C1;
    color: #000000;
}
/*
#kcatoesRapport td.ECHEC {
    background: none repeat scroll 0 0 #990000;
    color: #FFFFFF;
}
#kcatoesRapport td.REUSSITE {
    background: none repeat scroll 0 0 #008800;
    color: #FFFFFF;
}
#kcatoesRapport td.MANUEL {
    background: none repeat scroll 0 0 #12B8EA;
    color: #000000;
}
#kcatoesRapport td.NA  {
    background: none repeat scroll 0 0 #999999;
    color: #000000;
}

#kcatoesRapport .ERREUR  {
    background: none repeat scroll 0 0 #FFC1C1;
    color: #000000;
}*/

/* boutons */
button {
  background: none;
  border: none;
  text-decoration: underline;
}
button:hover,
button:focus {
	text-decoration: none;
}


/* bouton de situation de l'élément */
.highlightTrigger.confirmed .hide,
.highlightTrigger .show {
	display: block;
}
.highlightTrigger.confirmed .show,
.highlightTrigger .hide {
  display: none;
}
.highlightTrigger.confirmed {
  background: #CCC;
}

/* procédure de test */
.testProc ol {
  list-style: decimal outside;
}
.testProc li {
  margin-left: 2em;
}


/* formulaire */
.save input {
  border: 1px solid #555;
  border-radius: 5px;
  color: #FFF;
  background: #343434 url('../img/ico/save.png') right center no-repeat;
  padding: .5em 80px .5em .5em;
  font-weight: bold;
  margin: .6em 1em;
}

.ico {
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 5px;
}


.ico:hover,
.ico:focus {
	border-color: #DDD;
	background: #EEE;
}

.ico.confirmed {
	background: #343434;
	color: #FFF;
	border-color: #DDD;
}

textarea {
	resize: none;
	width: 98%;
	margin: auto;
}


strong {
	display: block;
  font-weight: bold;
  text-decoration: underline;
  margin: .5em 0;
}

.saveMessage {
  display: inline-block;
  font-size: 0.8em;
  margin: 0.5em 0 0 1em;
  position: absolute;
}

.saveMessage img {
  position: relative;
  vertical-align: middle;
}


/* FIXME : mettre à jour dans lib/kcatoesoutput */
